<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= caption %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to "Home", potepan_root_path %>
          </li>
          <% if shop_flag %>
            <li>
              <%= link_to "shop", "#" %>
            </li>
          <% end %>
          <li class="active"><%= caption %></li>
        </ol>
      </div>
    </div>
  </div>
</section>