<header>
  <div class="header clearfix">
    <div class="topBar">
      <div class="container">
        <div class="row">
          <div class="col-md-6 hidden-sm hidden-xs">
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            </ul>
          </div>
          <div class="col-md-6 col-xs-12">
            <ul class="list-inline pull-right">
              <li class="dropdown searchBox">
                <%= link_to "javascript:void(0)",class: "dropdown-toggle", 'data-toggle': "dropdown" do %>
                  <i class="fa fa-search"></i>
                <% end %>
                <ul class="dropdown-menu dropdown-menu-right">
                  <%= form_with url: "/sample/product-grid-left-sidebar", method: :get, id: "form01", local: true do |f| %>
                    <li>
                      <span class="input-group">
                        <%= f.text_field :keyword, id: "top-form", class: "form-control", placeholder: "Search…", 'aria-describedby': "basic-addon2" %>
                        <span onclick="FormSubmit();" class="input-group-addon addPointer" id="basic-addon2">検索</span>
                      </span>
                    </li>
                  <% end %>
                </ul>
              </li>
              <li class="dropdown">
                <a href="cart-page.html" class="dropdown-toggle" data-toggle="dropdown disabled"><i class="fa fa-shopping-cart"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-main navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag("img/logo.png", :alt => ""), potepan_root_path, class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "HOME", potepan_root_path %></li>
            <li class="dropdown megaDropMenu active">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">Shop</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>